/* * {
    box-sizing: border-box;
} */

.content {
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color:aquamarine;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
}

#firstheading {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

#firstheading h1{
margin: 0;
}

.form-login {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-login label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-login input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;

}

.form-login.col.success input {
    border-color: #2ecc71;
}

.form-login.col.error input {
    border-color: #e74c3c;
}

#form-email.col.success input {
    border-color: #2ecc71;
}

#form-email.col.error input {
    border-color: #e74c3c;
}

/* .form-login i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-login.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-login.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;

} */

.form-login small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}


.form button {
    border: 2px solid;
    border-radius: 4px;
    display: block;
    padding: 10px;
    width: 100%;
}